body {
  background-color: rgb(72, 53, 35);
  margin: 0;
  height: 100vh;
}

header {
  font-weight: 700;
  font-size: min(8vw, 8vh);
  color: rgb(82, 170, 130);
}

label {
  min-width: 20%;
  font-weight: 700;
  font-size: x-large;
  color: rgb(82, 170, 130);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  flex-shrink: 0;
  gap: 20px;
}

p {
  font-weight: 700;
  font-size: 2rem;
  color: aliceblue;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding: 3%;
}
